flow2
[
    {
        "id": "cc22b01e.dc87",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fcf5d51.8f0ea",
        "type": "inject",
        "z": "cc22b01e.dc87",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "932815c0.44b928"
            ]
        ]
    },
    {
        "id": "932815c0.44b928",
        "type": "function",
        "z": "cc22b01e.dc87",
        "name": "payload",
        "func": "msg.headers={\n    deviceKey:\"AAzsuCTHuw3XdKQL\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "872f7930.cb87d8",
                "6f2d60a0.aafe"
            ]
        ]
    },
    {
        "id": "872f7930.cb87d8",
        "type": "http request",
        "z": "cc22b01e.dc87",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DaX01WEv/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "801b1d1a.24fe8",
                "43ecc579.b3c62c"
            ]
        ]
    },
    {
        "id": "801b1d1a.24fe8",
        "type": "http response",
        "z": "cc22b01e.dc87",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "43ecc579.b3c62c",
        "type": "debug",
        "z": "cc22b01e.dc87",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "6f2d60a0.aafe",
        "type": "http request",
        "z": "cc22b01e.dc87",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DaX01WEv/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "801b1d1a.24fe8",
                "43ecc579.b3c62c"
            ]
        ]
    }
]
